{% extends 'workout/baseWorkout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('CSS/data-now/data-now.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <main>

        {% if formIsOk|default(0) == 1 %}
            <p>Zakończono prowadzonom akcję jako KAM</p>
        {% endif %}

        <h1>
            Zakończ prowadzoną akcję jako KAM</h1>

        <form action="/user/profil/remove-kam" method="POST">
            <br>Czy na pewno zakończyć akcję KAM?
            <br><br>
            <input type="submit" value="Usuń akcję KAM">
        </form>

    </main>

{% endblock %}