<div class="fat-nav">
    <div class="wrapper">
        <ul>
            <a class="fat-nav-link" href="/user/push-up">
                <li> Test 1</li>
            </a>

            <a class="fat-nav-link" href="/user/squats">
                <li> Test 2</li>
            </a>

            <a class="fat-nav-link" href="/user/crunches">
                 <li> Test 3</li>
            </a>

            <a class="fat-nav-link" href="/user/pull-up">
                <li> Test 4</li>
            </a>

            <a class="fat-nav-link" href="/blog">
                 <li><i class="fas fa-gift"></i> Procedura triaż</li>
            </a>

            <br>
            <a class="fat-nav-link" href="/user/profil">
                 <li><i class="far fa-user"></i> {{ app.user.username }}</li>
            </a>

            <a class="fat-nav-link" href="/logout">
                <li><i class="fas fa-sign-out-alt"></i> Sign Out</li>
            </a>
        </ul>
     </div>  
</div>