<div class="fat-nav">
    <div class="wrapper">
        <ul>
            <a class="fat-nav-link" href="/user/profil/data-now">
                <li> Aktualne pomiary ranych </li>
            </a>

            <a class="fat-nav-link" href="/user/profil/data-history">
                <li> Historyczne pomiary ranych </li>
            </a>

            <a class="fat-nav-link" href="/user/profil/data-history">
                <li> Wprowadź KAM</li>
            </a>

            <a class="fat-nav-link" href="/user/profil/data-history">
                <li> Zakończ akcje KAM</li>
            </a>

            <a class="fat-nav-link" href="/user/profil/data-history">
                <li> Jednostki ratownicze</li>
            </a>

            <a class="fat-nav-link" href="/user/profil/data-history">
                <li> Zarządzaj jednostakami ratowniczymi</li>
            </a>

            <br>
            <a class="fat-nav-link" href="/user/profil">
                 <li><i class="far fa-user"></i> Profil: {{ app.user.username }}</li>
            </a>

            <a class="fat-nav-link" href="/logout">
                <li><i class="fas fa-sign-out-alt"></i> Sign Out</li>
            </a>
        </ul>
     </div>  
</div>