{% extends 'firstPage/baseFirstPage.html.twig' %}

{# {% block title %}{% endblock %} #}

{% block stylesheets %}
    <link href="{{ asset('CSS/firstPage/firstPageIndex.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <section>
        <div class="parentMenuFirstPage">


            <div class="buttons">
                <a class="button" href="/user/profil">
                    Zaloguj się
                </a>
                <br>
                <br>
                <a class="button" href="contact">
                    Kontakt
                </a>
            </div>

        </div>
    </section>

{% endblock %}
